<div class="card">
    <span>Theme:
      <br>
      <i *ngIf="quiz.theme!== undefined && quiz.theme==='Sport'" class="fas fa-football-ball"></i>
      <i *ngIf="quiz.theme!== undefined && quiz.theme==='Actor'" class="fas fa-film"></i>
      {{quiz.theme}}
    </span>
  <br>
  <span *ngIf="quiz.questions !== undefined"> Nombre de questions: {{quiz.questions.length}}</span>
    <h2>
        <i class="fab fa-leanpub"></i>
        {{quiz.name}}
    </h2>
  <button class="button-card" (click)="selectQuiz()">Select</button>
  <br>
  <button class="button-card" (click)="deleteQuiz()">Delete</button>
  <br>
  <a routerLink="/edit-quiz/{{this.quiz.id}}">Edit</a><br>
  <span *ngIf="quiz.creationDate != undefined">Date de création: {{quiz.creationDate | date:'short':'Europe/Paris'}}</span>

</div>
